/*---- major section ----*/

.about-us{
    height: 100%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


/*---- left side texts section ----*/

.about-us h2{
    margin: 5% 10%;
}

.about-us p{
    margin: 5% 10%;
    line-height: 2;
    font-size: 23px;
    color: #424141;
}

.about-us .text-area{
    background: #A09C99;
    width: 100%;
}

.text-area .texts{
    width: 100%;
}

/*---- right side img section ----*/

.about-us img{
    width: 100%;
    height: 100%;
}






@media (max-width: 900px) {
    /*---- major section ----*/

    .about-us{
        width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }


    /*---- left side texts section ----*/

    .about-us p{
        line-height: 1;
        font-size: 15px;
    }

    /*---- right side img section ----*/

    .about-us img{
        display: none;
    }
}


