.about-us{
    height: 100%;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-us .text-area{
    background: #A09C99;
}

.about-us img{
    width: 100%;
    height: 100%;
}


.about-us h2{
    margin: 5% 10%;
}

.about-us p{
    margin: 5% 10%;
    line-height: 2;
    font-size: 23px;
    color: #424141;
}

@media (max-width: 900px) {
    .about-us{
        width: 100vw;
        min-height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }


    .about-us p{
        line-height: 1;
        font-size: 15px;
    }

    .about-us img{
        display: none;
    }
}


