.cart-panel {
    border: 2px solid #A09C99;;
    border-radius: 14px 0 14px 0;
    position: absolute;
    top: 70px;
    right: 40px;
    background-color: #ECECEC;
    width: 50%;
    height: auto;
}

.cart-panel .header{
    margin-right: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
}

.cart-panel h1{
    text-align: center;
    color: #424141;
    font-size: 27px;
    font-weight: normal;
}

.cart-panel button{
    margin: 20px 25px;
    padding: 7px 15px;
}

.cart-panel .qty{
    text-align: left;
}




@media (max-width: 700px) {
    .cart-panel{
        width: 90%;
    }
}


.cart-panel .bot{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
    margin: auto;
}

.cart-panel button{
    color: #424141;
    border: none;
    border-radius: 5px;
    background: #B6C72B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 17px;
    height: auto;
}


.cart-panel button:hover{
    background: #bed12e;
    cursor: pointer;
}