/*---- email upper section ------*/

#contact .email{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    width: 70%;
    height: 80px;
    margin: 80px auto;
}

.email p{
    font-size: 28px;
    margin: auto 30px;
    color: #424141;
}

/*----- email button style section --------*/

.button-area{
    align-self: center;
    flex-grow: 2;
    position: relative;
    display: inline-block;
    width: 50%;
}

.button-area button{
    border-radius: 20px;
    background: #B6C72B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 0;
    color: white;
    font-weight: bold;
    padding: 10px 60px;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 5px;
}

.button-area button:hover{
    cursor: pointer;
    background-color: #c7d45c;
}

.button-area input {
    border-radius: 30px;
    border: 0;
    background: rgba(182, 199, 43, 0.30);
    color: black;
    padding: 20px;
    width: 80%;
    height: 90%;
    margin-left: 12%;
}

.button-area input:focus {
    outline: none;
}

.button-area input::placeholder {
    color: #A09C99;
}

/*----- left and right section -------*/

.social{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 40px;
}

/*----- left side social section -------*/


.left-side p{
    margin-top: 30px;
    color: #424141;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: right;
}

.media-icon{
    display: flex;
    justify-content: right;
}

.media-icon .green-social{
    color: #B6C72B;
    margin: 0 0 0 auto;
}

.social .left-side{
    margin: auto auto auto 40%;
    width: 50%;
}



/*----- right side contacts section -------*/

.contact-texts{
    display: flex;
    margin: 30px auto;
}

.contact-texts .green-social{
    color: #B6C72B;
}

.contact-texts p{
    align-self: center;
    margin: auto 10px;
    color: #424141;
}

.help h2{
    margin-left: 0;
}

.social .help{
    width: 50%;
    margin: auto 40% auto auto;
}



/*----- footer politic section ------*/

.rights{
    text-decoration: underline;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
}

.rights p{
    margin: auto;
    justify-content: center;
    align-self: center;
}


/*----- button hover section ------*/

.green-social:hover{
    color: #d2df6d;
    cursor: pointer;
}

/*----- line section------*/

.line{
    border: 1px solid #B3B3B3;
    height: 500px;
}





@media (max-width: 1400px) {

    /*----- left and right section -------*/

    .social{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
        margin-bottom: 40px;
    }

    .line{
        border: 1px solid #B3B3B3;
        height: 0;
        width: 90%;
        margin: auto;
    }


    /*----- left side social section -------*/

    .left-side p{
        text-align: center;
    }

    .media-icon{
        display: flex;
        justify-content: left;
    }

    .media-icon .green-social{
        color: #B6C72B;
        margin: auto;
    }

    .social .left-side{
        margin: auto;
        width: 80%;
    }


    /*----- right side contacts section -------*/

    .help h2{
        margin-left: 0;
        text-align: center;
    }


    .social .help{
        width: 80%;
        margin: auto;
    }


    /*----- email button style section --------*/


    .button-area{
        width: 100%;
        margin: auto;
    }

    .button-area button{
        border-radius: 20px;
        background: #B6C72B;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: white;
        font-weight: bold;
        padding: 10px 60px;
        font-size: 20px;
        margin: auto;
    }

    .button-area input {
        width: 70%;
        margin: auto;
    }

    #contact .email{
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        background-color: #D9D9D9;
        width: 90%;
        height: auto;
        padding: 20px;
        row-gap: 20px;
    }

    .email p{
        font-size: 28px;
        margin: auto;
        color: #424141;
    }


}