
/*---- banner photo section---- */

.banner{
    width: 100%;
    margin-bottom: 50px;
}



/*---- menu links section---- */

#ajuda{
    text-align: left;
}

#produtos{
    text-align: right;
    margin-left: 0;
}

.links{
    display: grid;
    grid-template-columns: auto auto auto;
}

.menu a:hover{
    color: #a7a5a5;
}

.menu a:link{
    text-decoration: none;
    color: #424141;
}

.menu a:visited{
    text-decoration: none;
}

.menu h2{
    color: #424141;
    font-weight: normal;
    width: auto;
    text-align: center;
}




/*---- navbar/icons section---- */

.cart{
    margin-right: 15px;
}

.cart:hover{
    cursor: pointer;
    color: #a7a5a5;
}

.navbar{
    color: #424141;
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.user{
    margin-right: 15px;
}

.user-cart{
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;
}

.user-cart input{
    color: rgba(62, 62, 62, 1);
    background-color: rgba(217, 217, 217, 1);
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    width: 90%;
}

.user:hover{
    cursor: pointer;
    color: #a7a5a5;
}


@media (max-width: 700px) {
    .user-cart{

    }
}







