.card-body{
    background-color: #ECECEC;

    margin: auto;
    width: 100%;
    text-align: center;
    height: 100%;
}

.card-body h3{
    color: #424141;
    font-weight: normal;
    font-size: 17px;
}

.card-body h4{
    color: #424141;
    font-size: 23px;
    font-weight: bold;
}

.card-body img{
    margin-top: 10px;
    width: 180px;
    height: 180px;
}



/*---- card button able/disable -----*/


.card-body .able{
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    color: #424141;
    border: none;
    border-radius: 5px;
    background: #B6C72B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    height: auto;
}

.card-body .unable{
    background: #A09C99;
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    color: #424141;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    height: auto;
}

.card-body .able:hover{
    background: #bed12e;
    cursor: pointer;
}


