.card-body{
    background-color: #ECECEC;

    margin: auto;
    width: 100%;
    text-align: center;
    height: 100%;
}

.card-body img{
    margin-top: 10px;
    width: 180px;
    height: 180px;
}

.card-body h3{
    color: #424141;
    font-weight: normal;
    font-size: 17px;
}

.card-body h4{
    color: #424141;
    font-size: 23px;
    font-weight: bold;
}

.card-body Button{
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
}


