.card-body{
    background-color: #ECECEC;
    margin: auto;
    width: 70%;
    text-align: center;
}

.card-body h3{
    color: #424141;
    font-weight: normal;
    font-size: 17px;
}

.card-body h4{
    color: #424141;
    font-size: 23px;
    font-weight: bold;
}

.card-body button{
    color: #424141;
    border: none;
    border-radius: 5px;
    background: #B6C72B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    padding: 10px;
    width: 70%;
    height: auto;
}

.card-body button:hover{
    background: #bed12e;
    cursor: pointer;
}